body{
  display: flex;
    justify-content: center;
    align-items: center;
  }
  .main{
    /* position:absolute; */
    margin-top: 100px;
    width:100%;
    background-color: #3a5358b2;
    /* height:240px; */
    /* border:1px solid black; */
    /* padding:10px; */
    display: flex;
    /* text-align: center;  */

  }
  
  

h1 { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 21ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
}



html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #03033631;
  font-family: Arial;
  background-image: url("https://i.kym-cdn.com/entries/icons/facebook/000/034/421/cover1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

